<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script type="text/javascript" src="/javascript/analysis.js"></script>
  </head>
  <body>
    <h1>pq</h1>

    <form method="post" action="/record">
      <p>
        <label>Item:</label>
        <input type="text" name="item">
      </p>
      <p>
        <input type="submit" value="Record">
      </p>
    </form>

    <div id="test" width="720" height="480"></div>
    <button id="btn1" type="button">Analysis</button>
    <canvas id="timeline" width="1200" height="300" style="border:1px solid blue;">[No canvas support]</canvas>
  </body>
</html>
