<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script type="text/javascript" src="/javascript/Chart.js"></script>
    <script type="text/javascript" src="/javascript/canvasjs.js"></script>
    <script type="text/javascript" src="/javascript/flotr2.min.js"></script>
    <script type="text/javascript" src="/javascript/highcharts.js"></script>
    <script type="text/javascript" src="/javascript/analysis.js"></script>
  </head>
  <body>
    <h1>pq</h1>

    <form method="post" action="/record">
      <p>
        <label>Item:</label>
        <input type="text" name="item">
      </p>
      <p>
        <input type="submit" value="Record">
      </p>
    </form>

    <div id="test" width="720" height="480"></div>
    <button id="btn1" type="button">Analysis</button>
    <!-- <canvas id="canvas" height="450" width="600"></canvas> -->
    <div id="flotr2" style="height: 300px; width: 100%;"></div>
    <div id="canvasjs" style="height: 300px; width: 100%;"></div>
    <div id="canvasjs1" style="height: 300px; width: 100%;"></div>
    <div id="highchartsjs" style="height: 300px; width: 100%;"></div>
  </body>
</html>

